>**기출문제 제7회**
>>**01 작업형 제1유형**

## 옵션 설정

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

## 문제 1. 
- 각 제품보고서별 처리 시간(처리시각과 신고시각으 차이) 칼럼(초단위)을 생성 후 공장별 처리 시간의 평균을 산출하시오. 
- 산출된 결과를 바탕으로 평균 처리 시간이 3번째로 적은 공장명을 구하시오.

In [3]:
data1 = pd.read_csv('7_1_1.csv') 
data1.head(1)

,제품보고서번호,공장명,결함유형,신고일자,신고시각,처리일자,처리시각,작업자직업명,사고발생장소,신고일시,처리일시
0,202200000001M25795,공장B,기계 결함,20220722,205914,20221027,184738,기술자,라인5,2022-07-22 20:59:14,2022-10-27 18:47:38

In [7]:
# 코드

공장명
공장B    9146906.92
공장C    9178145.58
공장D   11008063.38
공장A   11730455.05
공장E   12658950.29
Name: 처리시간, dtype: float64

3번째로 처리시간이 적은 공장: 공장D

## 문제 2. 
- STATION_ADDR1 변수에서 구 정보만 추출한 후, 마포구, 성동구의 평균 이동 거리 구하기

In [8]:
data2 = pd.read_csv('7_1_2.csv')
data2.head(1)

,rent_date,rent_place,using_time,dist,bill_type,STATION_ADDR1,STATION_ID,STATION_LATITUDE,STATION_LONGITUDE
0,2019-03-19 00:42:26,ST-920,6,1660,BIL_002,서울특별시 구로구 경인로40길 47,ST-920,37.49,126.86

In [11]:
# 코드

마포구와 성동구의 평균 이동거리:
구
마포구   3045.88
성동구   3202.31
Name: dist, dtype: float64

## 문제 3. 
- 분기별 총 판매량(제품A~E 합계)의 월평균을 구하고, 월평균이 최대인 연도와 분기를 구하시오.

In [13]:
data3 = pd.read_csv('7_1_3.csv')
data3.head(1)

         기간  제품A  제품B  제품C  제품D  제품E
0  2018년_1월  890  567  274  762  691

In [17]:
# 코드

분기별 총 판매량의 월평균이 가장 높은 연도와 분기:
연도: 2018
분기: 3