>**기출문제 제5회**
>>**01 작업형 제1유형**

## 옵션 설정

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

## 문제 1. 
- 다음 데이터에서 conventional 컬럼의 특수문자를 제거하고, IQR(3분위수-1분위수)를 구하시오. 
- 소수점 첫째 자리에서 반올림

In [2]:
# 코드

,minority,crime,poverty,language,highschool,housing,city,conventional,undercount,date
0,26.1,49,18.9,0.2,43.5,7.6,state,*,-0.04,2023-01-01
1,5.7,62,10.7,1.7,17.5,23.6,state,&,3.35,2023-01-02
2,18.9,81,13.2,3.2,27.6,8.1,state,*,2.48,2023-01-03
3,16.9,38,19.0,0.2,44.5,7.0,state,&,-0.74,2023-01-04
4,24.3,73,10.4,5.0,26.0,11.8,state,4,3.60,2023-01-05

In [3]:
# 영어, 숫자, 한국어를 제외한 모든 문자 제거 
# 코드

,minority,crime,poverty,language,highschool,housing,city,conventional,undercount,date
0,26.1,49,18.9,0.2,43.5,7.6,state,,-0.04,2023-01-01
1,5.7,62,10.7,1.7,17.5,23.6,state,,3.35,2023-01-02
2,18.9,81,13.2,3.2,27.6,8.1,state,,2.48,2023-01-03
3,16.9,38,19.0,0.2,44.5,7.0,state,,-0.74,2023-01-04
4,24.3,73,10.4,5.0,26.0,11.8,state,4,3.60,2023-01-05

In [5]:
# 코드

IQR: 8.75

## 문제 2. 
- 위 데이터에서 흑인 또는 히스패닉 비율(minority) / 빈곤율(poverty) > 2이며, 도시 유형(city)이 state인 도시의 범죄율(crime) 평균을 구하시오. 
- 소수점 첫째 자리에서 반올림

In [8]:
# 코드

범죄율 평균: 61.0

## 문제 3. 
- 다음 데이터에서 2016년 9월 이후, 온도(actual)의 평균을 구하시오. (소수점 첫째 자리에서 반올림)

In [9]:
# 코드

   year  month  day week  temp_2  temp_1  average  actual  friend
0  2016      1    1  Fri      45      45     45.6      45      29

In [10]:
# 코드

2016년 9월 이후 온도 평균: 58.0

In [16]:
# 코드

2016년 9월 이후 온도 평균: 58.0