>**기출문제 제9회**
>>**01 작업형 제1유형**

## 옵션 설정

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

## 문제 1. 
- 각 연도 및 성별의 총 대출액의 절댓값 차이를 구한다. 
- 절댓값 차이가 가장 큰 지역코드를 구하시오.

In [3]:
data1 = pd.read_csv('9_1_1.csv') 
data1.head(5)

   year  gender  지역코드    금액1    금액2
0  2018       0   143  70713  43210
1  2019       0   183  40306  39663
2  2017       0   129  26646  41631
3  2019       0   161  56843  12455
4  2019       0   174  26371   9014

In [33]:
# 코드

gender
0     168869.0
1          0.0
차이    168869.0
Name: (2018, 143), dtype: float64
143

## 문제 2. 
- 각 연도별 최대 검거율을 가진 범죄유형을 찾아서 해당 연도 및 유형의 검거건수들의 총합을 구하시오. 
- 검거율 = 검거건수 / 발생건수

In [36]:
data2 = pd.read_csv('9_1_2.csv')
data2.head(1)

,연도,구분,범죄유형1,범죄유형2,범죄유형3,범죄유형4,범죄유형5,범죄유형6,범죄유형7,범죄유형8,범죄유형9,범죄유형10
0,2000,발생건수,302,635,470,306,271,900,220,814,321,666

In [72]:
# 코드

총 검거건수 합계 = 9879

In [73]:
# 코드

총 검거건수 합계 = 9879

## 문제 3. 
- 결측치 처리
    + 평균 만족도 : 결측치는 평균만족도 컬럼의 전체 평균으로 채우시오. 
    + 근속연수 : 결측치는 각 부서와 등급별 평균 근속연수로 채우시도. (평균값의 소수점은 버림 처리)
- 조건에 따른 평균 계산
    + A : 부서가 'HR'이고 등급이 'A'인 사람들의 평균 근속연수를 계산하시오. 
    + B : 부서가 'Sales'이고 등급이 'B'인 사람들의 평균 교육참가횟수를 계산하시오. 
    + A와 B를 더한 값을 구하시오.

In [10]:
# 데이터 로드
data3 = pd.read_csv('9_1_3.csv')
data3.head(1)

        부서 등급     평균만족도  근속연수  교육참가횟수
0  Finance  C  4.023911  17.0     8.0

In [11]:
data3.isna().sum()

부서         0
등급         0
평균만족도     10
근속연수      10
교육참가횟수     0
dtype: int64

In [12]:
# 결측치 처리
# 코드드
data3.isna().sum()

부서        0
등급        0
평균만족도     0
근속연수      0
교육참가횟수    0
dtype: int64

In [13]:
# 코드

HR 부서 A등급 평균 근속연수 = 17.625
Sales 부서 B등급 평균 교육참가횟수 = 7.6
A + B = 25.225